<h1>Wine </h1>
<p>The great wines of Casey's Winery Group</p>
<%= page_entries_info @wines %>
<ol>
<% @wines.each do |wine| %>
  <li><%= link_to(wine.name, wine) %>, a <%= wine.varietal %>
by <%= wine.winery %></li>
<% end %>
</ol>
<%= paginate @wines %>